body {
    font-family: Arial, sans-serif;
    background-color: #014a7e ;
    padding: 20px;
}

.title {
    text-align: center;
    margin-bottom: 20px;
    color:white
}

.form-container {
    background: white;
    max-width: 400px;
    margin: auto;
    padding: 20px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}

label {
    font-weight: bold;
}

input[type="text"],
input[type="email"],
select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Focus effect */
input:focus,
select:focus {
    border-color: #0077ff;
    outline: none;
}

/* Checkbox group layout */
.checkbox-group {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

/* Button styling */
button {
    padding: 12px;
    background: #014779;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Hover effect */
button:hover {
    background: #005fcc;
}
